git add requirements.txt
git commit -m [connections.snowflake]
account = "WULCXNK-PD24799"
user = "Adithya"
password = "Adi@93904"
role = "ACCOUNTADMIN"
warehouse = "COMPUTE_WH"
database = "PIZZA_ORDERS"
schema = "PUBLIC"
client_session_keep_alive = true
git push origin main
